
<style>
  @import url('https://fonts.googleapis.com/css2?family=Belleza&family=Lato:wght@300;400;700&family=Lora&family=Merriweather:wght@300&family=Quattrocento&display=swap');
</style>

  
<style>

body {
    overflow-x: hidden;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
    width:100%;
}

body  > * {
  font-weight: 300;
  letter-spacing: 0.9pt;
  color: #2B2B4A;
  -webkit-tap-highlight-color: transparent;
}

button {
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            color: #ffffff;
            border: none;
            border-radius: 8px;
            background: #ff0083;
            cursor: pointer;
            text-align: center;
            font-weight: 300;
}

button:hover {
    background-color:#db0272;
}

button.selfieButton {
    width: 160px;
    height: 38px;;
    background-color: #ffffff;
    color:#ff0083;
    border: 1px solid #ff0083;
}

button.selfieButton:hover {
    color:#db0272;
    border: 1px solid #db0272;
}

a { 
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    color: #2B2B4A;
}

a:hover {
    text-decoration: underline;
}

.captionText {
    font-family: 'Lato', sans-serif; 
    font-size:20px;
    padding: 5x;
    display: inline;
    padding-right: 15px;
    font-weight: 400;
}

.abs {
    position: absolute;
}

.fxd {
    position: fixed;
}

.hand {
    cursor: pointer;
}

.flex {
    display: flex;
}

@media only screen and (max-width: 1000px) { /* mobile */
  .hideForMobile {
    display: none;
  }

  div.captionLayout {
    height: 58px;
  }

  div.subCaptionLayout {
    padding: 0px;
  }

  div.logoLayout {
    padding: 0px;
    top: 0px;
    left: 10px;
  }
}

@media only screen and (min-width: 1000px) { /* web */
  .onlyForMobile {
    display: none;
  }

  div.captionLayout {
    height: 100px;
  }

  div.subCaptionLayout {
    padding: 25px;
  }

  div.logoLayout {
    top: 0px;
    left:  <%- logoLocation === "left" ? 30 : 75 -%>px;
  }
}
</style>

<script src="/scripts/utils.js"></script>
<script src="/scripts/mark_hamburgers.js"></script>

<!-- top caption -->
<div class="abs logoLayout" style="z-index: 200;">
    <img src="/../img/logo.png" class="hand" width="210px" height="auto" onclick="location.href = '/'">
</div>

<div class="abs captionLayout" style="width:100%; right: 0px; top:0px; background-color: #ffffff; margin: 0%;">
    <div class="abs subCaptionLayout" style="right: 0px; top:18px;">
        <div class="hideForMobile captionText" onclick="location.href = '/about'" >
            <a class="captionText">About Us</a>
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'javascript:void(0)'" >
            <a class="captionText">For Businesses</a>
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'javascript:void(0)'">
            <a class="captionText">Technology</a>
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'javascript:void(0)'">
            <a class="captionText">FAQ</a>
        </div>
        <div class="hideForMobile captionText" onclick="location.href = '/treatments'">
            <a class="captionText">Treatment Options</a>
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'javascript:void(0)'">
            <a class="captionText">Knowledge Base</a>
        </div>
        <div class="abs onlyForMobile" style="top:16px; right:40px;">
            <%- include('./mark_hamburger', {hamb: "main", 
                                            menu:["About Us", "For Businesses", "Technology", "FAQ", "Treatment Options", "Knowledge Base"],
                                            href:["/about", "/", "Technology", "/", "treatments", ""]
                                            }); %>
        </div>
    </div>
</div>