<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Quattrocento&display=swap" rel="stylesheet">
<style>
button {
            font-family: 'lora', serif;
            font-size: 18px;
            color: #ffffff;
            border: none;
            border-radius: 20px;
            width: 200px;
            height: 45px;
            box-shadow: 1.41px 1.41px 5px #757575;
            background: rgba(117, 117, 117, 0.96);
            cursor: pointer;
            text-align: center;
        }

button:hover {
    background-color:#a5dbac;
}

.captionText {
            font-family: helvetica-w01-light, helvetica-w02-light, sans-serif; 
            font-size:16px;
            padding: 10px;
            color:#777777;
            cursor: pointer;
            display: inline;
            padding-right: 20px;
        }

.captionText:hover {
    background-color: #fdfaf6;
}

.abs {
    position: absolute;
}

.hand {
    cursor: pointer;
}

.flex {
    display: flex;
}

@media only screen and (max-width: 1000px) {
  div.hideForMobile {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1000px) {
  div.onlyForMobile {
    display: none;
  }
}
</style>

<script src="./scripts/utils.js"></script>
<script src="./scripts/mark_hamburgers.js"></script>

<!-- top caption -->
<div class="abs" style="left: 80px; top: 10px; z-index: 200;">
    <img src="../img/logo.png" width="300px" height="auto" style="cursor: pointer;" onclick="location.href = '/'">
</div>

<div class="abs" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 25px; width:100%; height: 58px; right: 0px; top:0px; background-color: #ffffff;">
    <div class="abs" style="right: 0px; top:18px;">
        <div class="hideForMobile captionText" onclick="location.href = 'https://www.markable.life/about'" >
            About
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'https://www.markable.life/technology'">
            Technology
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'https://www.markable.life/faq'">
            FAQ
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'https://www.markable.life/blank-2'">
            Treatment Options
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'https://www.markable.life/blog'">
            Articles
        </div>
        <div class="hideForMobile captionText" onclick="alert(calctScore)" style="display: none;">
            test
        </div>
        <div class="abs onlyForMobile" style="top:-8px; right:-10px;">
            <%- include('./mark_hamburger', {hamb: "main", menu:["About", "Technology", "FAQ", "Treatment Options", "Articles"]}); %>
        </div>
    </div>
</div>