<style>
/* latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkq18ndeYxZ0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/OZpEg_xvsDZQL_LKIF7q4jP3w2j6XYvVuQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
<style>
button {
            font-family: 'Quattrocento';
            font-size: 18px;
            color: #ffffff;
            border: none;
            border-radius: 20px;
            box-shadow: 1.41px 1.41px 5px #757575;
            background: rgba(117, 117, 117, 0.96);
            cursor: pointer;
            text-align: center;
        }

button:hover {
    background-color:#a5dbac;
}

.captionText {
            font-family: 'Lora'; 
            font-size:18px;
            padding: 10px;
            color:#777777;
            cursor: pointer;
            display: inline;
            padding-right: 20px;
        }

.captionText:hover {
    background-color: #fdfaf6;
}

.abs {
    position: absolute;
}

.fxd {
    position: fixed;
}

.hand {
    cursor: pointer;
}

.flex {
    display: flex;
}

@media only screen and (max-width: 1000px) {
  div.hideForMobile {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1000px) {
  div.onlyForMobile {
    display: none;
  }
}
</style>

<script src="./scripts/utils.js"></script>
<script src="./scripts/mark_hamburgers.js"></script>

<!-- top caption -->
<div class="abs" style="left: 80px; top: 10px; z-index: 200;">
    <img src="../img/logo.png" width="300px" height="auto" style="cursor: pointer;" onclick="location.href = '/'">
</div>

<div class="abs" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 25px; width:100%; height: 58px; right: 0px; top:0px; background-color: #ffffff; margin: 0%;">
    <div class="abs" style="right: 0px; top:18px;">
        <div class="hideForMobile captionText" onclick="location.href = 'javascript:void(0)'" >
            About
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'javascript:void(0)'">
            Technology
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'javascript:void(0)'">
            FAQ
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'javascript:void(0)'">
            Treatment Options
        </div>
        <div class="hideForMobile captionText" onclick="location.href = 'javascript:void(0)'">
            Articles
        </div>
        <div class="hideForMobile captionText" onclick="alert(calctScore)" style="display: none;">
            test
        </div>
        <div class="abs onlyForMobile" style="top:-8px; right:-10px;">
            <%- include('./mark_hamburger', {hamb: "main", menu:["About", "Technology", "FAQ", "Treatment Options", "Articles"]}); %>
        </div>
    </div>
</div>