<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/img/fab.ico">
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=0.85, maximum-scale=0.85, user-scalable=yes' name='viewport' />
    <title>Markable - treatmens page</title>
    <style>
   
    </style>
</head>


<style>

    @media only screen and (max-width: 1000px) { /* mobile */

        div.imgLayout {
            position: fixed;
            left: 0px;
            top: 110px;
            width:100%;
            height: auto;
        }

        div.captionDivLayout {
            left: 5%;
            width:100%;
            font-size: 32px; 
        }

        div.textDivLayout {
            left: 5%;
            width:100%;
            font-size: 16px; 
        }
    }

    /* ===================================================================================================================================== */

    @media only screen and (min-width: 1000px) { /* web */

        div.imgLayout {
            position: fixed;
            left: 0px;
            top: 100px;
            width:100%;
            height: auto;
        }

        div.captionDivLayout {
            left: 30px;
            width:100%;
            font-size: 42px; 
        }

        div.textDivLayout {
            left: 30px;
            width:100%;
            font-size: 18px; 
        }
    }
   
    </style>

<body style="width:100%; overflow-y: hidden;">

<%- include('../partials/header'); %>

<div class="imgLayout" style="height: 100%; overflow-y: scroll;">
    <img src="/img/team.jpeg" alt="team" style="width:100%; height:auto"/>

    <div class="abs captionDivLayout">
        <div style="font-family: 'Belleza', sans-serif; font-weight: bold; text-align: left;">
            <br />
            About Us
        </div>
    </div>

    <div class="abs textDivLayout" style="height: 150%; overflow-y: scroll;">
        <div style="font-family: 'Lato', sans-serif; text-align: left; vertical-align: top; width:90%;">
            <br /><br /><br /><br /><br /><br />
            Welcome to MARKABLE, where we're revolutionizing women's health with our AI-driven perimenopause diagnosis. Our groundbreaking solution transforms perimenopause diagnosis, combining the power of science and technology to eliminate uncertainty and misdiagnosis. Our advanced computer vision technology offers not just a diagnosis but a doorway to tailored care and treatment. Each step with MARKABLE brings you closer to personalized well-being, ensuring your health journey is as unique as you are. <br />
Join us in our mission to make women's well-being a priority. Embrace this new era of informed health choices with MARKABLE.

            <br />
        </div>
    </div>
</div>


