<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/img/fab.ico">
    <meta charset="utf-8">
    <title>Markable - admin page</title>
    <style>
        th {
            text-align: center;
            border: 1px solid gray;
        }

        td {
            text-align: center;
            border: 1px solid gray;
        } 

        .captionText {
            font-family: 'Belleza', sans-serif; 
            font-size:16px;
            padding: 10px;
            display: inline;
            float: left;
        }
    </style>
</head>

<body>

    <%- include('../partials/header'); %>

    <!-- picture div -->
    <div id="picDiv" class="fxd" style="z-index: 100; border: 1px solid gray; width:565px; height: 700px; background-color: #eeeeee; display: none;">
        <img id="selfieImg" class="abs" style="width: 480px; height: auto; top: 40px; left: 40px;" width="480" height="auto"/>
        <canvas id="resCanvas" class="abs" width="480" height="auto"></canvas>
        <button id="toggleMarksBtn" class="abs" style="top:5px; left: 5px;;" onclick="toggleMarks(this)">Hide Marks</button>
        <div class="abs hand" style="top:6px; right: 10px; font-size: 27px; font-family: 'Belleza', sans-serif;" onclick="hidePic()">X</div>
    </div>

    <!-- results div -->
    <div id="resDiv" class="fxd" style="z-index: 100; border: 1px solid gray; width:565px; height: 700px; background-color: #eeeeee; display: none;">
        <div id="resDivInner" style = "width:100%; height:100%; border: 1px solid;"></div>
        <div class="abs hand" style="top:6px; right: 10px; font-size: 27px; font-family: 'Belleza', sans-serif;" onclick="hideRes()">X</div>
    </div>

    <!-- table div -->
    <div id="tableDiv" class="abs captionText" style="top:120px; left: 10px; width: 500px; table-layout:fixed;">
        <img id="loadingImg" class="fxd" style="width:36px; height: 36px; top:180px; left: 500px; display: none;" src="/img/loading.gif" />
        <table id="resTable" style="width:1300px; border: 1px solid gray;">
            <tr>
                <th>id</th>
                <!--th style="width:120px;">uid</th-->
                <th>date-time</th>
                <th>selfie</th>
                <th style="width:120px;">image dimentions</th>
                <th style="width:180px;">device</th>
                <th style="width:180px;">mobile / desktop</th>
                <th style="width:150px;">results</th>
                <th style="width:120px;">score</th>
                <th style="width:180px;">comments</th>
                <th style="width:120px;">maks sense?</th>
            </tr>
        </table>
    </div>

    <script>

        const loadRows = from => {

            $$("loadingImg").style.display = "";

            fetch(`/show_db?from=${from}`, {
                method: 'GET'
            })
            .then(response => response.text())
            .then(result => {
                renderTable (result);
            })
            .catch(error => {
                $$("loadingImg").style.display = "none";
                console.error(error);
            });
        }
        loadRows (-1);

        const getDeviceType = json => {
            try {
                return JSON.parse(json).summary
            } catch (e) 
            {   
                return '';
            }
        }

        let smallestRow = -1;
        const renderTable = res => {

            $$("loadingImg").style.display = "none";
            const table = $$("resTable");
            let trs = "";

            const rows = Array.from (JSON.parse(res).rows);

            if (!rows.length) {
                console.log ("none left");
                noRowsLeft = true;
            }

            rows.forEach (row => { 
                
                const comments = row.comments ? row.comments : ''
                const makes_sense = row.makes_sense ? true : false
                smallestRow = row.id;

                trs += `
                    <tr>
                        <td>${row.id}</td>
                        <!--td>${row.uid}</td-->
                        <td>${row.dt}</td>
                        <td><a href="javascript:void(0);" onclick='showPic("${row.uid}", this.parentElement, ${row.results}, ${row.selfiesdim})'>show picture</a></td>
                        <td>${row.selfiesdim}</td>
                        <td>${row.device}</td>
                        <td>${getDeviceType(row.device)}</td>
                        <td style="overflow:hidden; white-space: nowrap; max-height:100px; max-width:150px; text-align:left; vertical-align:top;">
                            <a style="font-size:14px;" href="javascript:void(0)" onclick="javascript:show_content($$('ressp_${row.uid}'))">[view]</a>
                            &nbsp;
                            <a style="font-size:14px;" href="javascript:void(0)" onclick="javascript:copy_content($$('ressp_${row.uid}'))">[copy]</a>
                            <br /><br />
                            <span id="ressp_${row.uid}">${row.results}</span>
                        </td>
                        <td style="overflow:hidden; white-space: nowrap; max-height:100px; max-width:150px; text-align:left; vertical-align:top;">
                            <a style="font-size:14px;" href="javascript:void(0)" onclick="javascript:show_content($$('scsp_${row.uid}'))">[view]</a>
                            &nbsp;
                            <a style="font-size:14px;" href="javascript:void(0)" onclick="javascript:copy_content($$('scsp_${row.uid}'))">[copy]</a>
                            <br /><br />
                            <span id="scsp_${row.uid}">${row.score}</span>
                        </td>
                        <td>
                            <textarea id="ta_${row.uid}" style="width:95%; height:200px; font-size:20px; font-family: 'Lato', sans-serif;" 
                            placeholder="your input...">${comments.replaceAll("[QUOT]","'").replaceAll("[AMP]","&")}</textarea>
                            <br />
                            <button onclick="add_input('${row.uid}', $$('ta_${row.uid}').value, $$('cb_${row.uid}').checked, this)">save</button>
                        </td>
                        <td><input type="checkbox" 
                            id="cb_${row.uid}" class="hand" ${makes_sense ? "checked='true'" : ""}
                            onclick="add_input('${row.uid}', $$('ta_${row.uid}').value, $$('cb_${row.uid}').checked, this)"/></td>
                    </tr>
                `;
            })

            table.innerHTML += trs;
        }

        const showPic = (uid, container, res, dim) => {

            const widthFactor = dim.width / 480;
            const heightFactor = widthFactor;

            $$("resCanvas").height = dim.height / widthFactor

            // show loading sign:
            const loading = $$("loadingImg");
            loading.style.display = "";
            loading.style.left = (container.getBoundingClientRect().left) + "px";
            loading.style.top = (container.getBoundingClientRect().top) + "px";

            // fetch data:
            fetch(`/show_pic?uid=${uid}`, {
                method: 'GET'
            })
            .then(response => response.text())
            .then(result => {
                console.log(result);
                const selfieImg = $$("selfieImg");
                const picDiv = $$("picDiv");
                selfieImg.src = `/tmp/${result}`;

                picDiv.style.left = container.getBoundingClientRect().left + "px";
                picDiv.style.top = (container.getBoundingClientRect().top + 100) + "px";

                let picTop = container.getBoundingClientRect().top + 100;
                while (picTop + 850 > screen.availHeight) {
                    console.log ("deviation");
                    picTop -= 10;
                    picDiv.style.top = picTop + "px";
                }

                picDiv.style.display = "";

                const resJson = res;
                const resCanvas = $$("resCanvas");
                const ctx = resCanvas.getContext("2d");

                ctx.clearRect(0, 0, resCanvas.width, resCanvas.height);

                resCanvas.style.left = selfieImg.style.left;
                resCanvas.style.top = selfieImg.style.top;

                resCanvas.style.display = "";
                $$("toggleMarksBtn").innerText = "Hide Marks";

                Array.from (resJson.result.brown_spot.rectangle).forEach(element => {
                    
                    ctx.beginPath();
                    ctx.ellipse(element.left / widthFactor, 
                                element.top / heightFactor, 
                                element.width / widthFactor, 
                                element.height / heightFactor, 
                                0, 
                                2 * Math.PI, 
                                false);
                    ctx.fillStyle = "green";
                    ctx.fill();
                    ctx.closePath();
                });

                // hide loading sign:
                loading.style.display = "none";
            })
            .catch(error => {
                console.error(error);

                // hide loading sign:
                loading.style.display = "none";
            });
        }

        const hidePic = () => {
            $$("picDiv").style.display = "none";
        }

        const copy_content = callee => {
            navigator.clipboard.writeText(callee.innerText);
            callee.style.backgroundColor = '#9999ff';

            if (callee.interval) {
                clearInterval (callee.interval);
            }
            callee.fading = '9999ff';

            callee.interval = window.setInterval (
                () => {
                    
                    callee.style.backgroundColor = `#${callee.fading}`;

                    const newFade = (parseInt(callee.fading, 16) + parseInt ("010100", 16));

                    callee.fading = newFade.toString(16);
                    if (newFade >= parseInt ('ffffff', 16)) {
                        callee.fading = null;
                        clearInterval (callee.interval);
                        callee.interval = null;
                    }
                }, 10
            )
        }

        const show_content = callee => {
            const resDiv = $$("resDiv");
            resDivInner.innerText = callee.innerText;
            resDiv.style.display = "";
            resDiv.style.left = callee.getBoundingClientRect().left + "px";
            resDiv.style.top = (callee.getBoundingClientRect().top + 40) + "px";
        }

        const hideRes = () => {
            $$("resDiv").style.display = "none";
        }

        const toggleMarks = button => {
            const resCanvas = $$("resCanvas");
            resCanvas.style.display = (resCanvas.style.display === "none") ? "" : "none";
            button.innerText = (resCanvas.style.display === "none") ? "Show Marks" : "Hide Marks";
        }

        const add_input = (uid, comments, makes_sense, callee) => {

            // show loading sign:
            const loading = $$("loadingImg");
            loading.style.display = "";
            loading.style.left = (callee.getBoundingClientRect().left - 10) + "px";
            loading.style.top = (callee.getBoundingClientRect().top - 50) + "px";

            // escape problematic chars:
            comments = comments.replaceAll ("'", "[QUOT]")
            comments = comments.replaceAll ("&", "[AMP]")

            // save data:
            const formData = new FormData();
            formData.append('uid', uid);
            formData.append('comments', comments);
            formData.append('makes_sense', makes_sense.toString());

            fetch('/add_input', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(result => {
                console.log ("saved");
                loading.style.display = "none";
            })
            .catch(error => {
                console.error(error);
                loading.style.display = "none";
                alert (error);
            });
        }

        let tryLoad = 0;
        let noRowsLeft = false;
        window.onscroll = function(ev) {

            if (noRowsLeft) {
                $$("loadingImg").style.display = "none";
                return;
            }

            if ((window.innerHeight + Math.round(window.scrollY)) >= $$("tableDiv").scrollHeight) {
                $$("loadingImg").style.display = "";
                if (tryLoad) {
                    clearTimeout (tryLoad);
                }
                tryLoad = window.setTimeout (() => {
                    loadRows (smallestRow);
                }, 500);
            }
        };

    </script>


</body>
</html>





