<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        button {
            font-family: "suez one", serif;
            font-size: 18px;
            color: #ffffff;
            border: none;
            border-radius: 20px;
            width: 120px;
            height: 30px;
            box-shadow: 1.41px 1.41px 5px #757575;
            background: rgba(117, 117, 117, 0.96);
            cursor: pointer;
            text-align: center;
        }

        button:hover {
            background-color:#a5dbac;
        }

        th {
            text-align: center;
            border: 1px solid gray;
        }

        td {
            text-align: center;
            border: 1px solid gray;
        } 

        .captionText {
            font-family: helvetica-w01-light, helvetica-w02-light, sans-serif; 
            font-size:16px;
            padding: 10px;
            color:#777777;
            display: inline;
            float: left;
        }

        .abs {
            position: absolute;
        }
    </style>
</head>

<body>

    <%- include('../partials/header'); %>

    <!-- picture div -->
    <div id="picDiv" class="abs" style="z-index: 100; border: 1px solid gray; width:592px; height: 592px; background-color: #eeeeee; display: none;">
        <img id="selfieImg" class="abs" style="width: 512px; height: 384px; top: 40px; left: 40px;" width="512" height="384"/>
        <canvas id="resCanvas" class="abs" width="512" height="384"></canvas>
        <button id="toggleMarksBtn" class="abs" style="top:5px; left: 5px;;" onclick="toggleMarks(this)">Hide Marks</button>
        <div class="abs" style="top:6px; left: 557px; font-size: 27px; cursor: pointer; font-family: sans-serif;" onclick="hidePic()">X</div>
    </div>

    <!-- table div -->
    <div id="tableDiv" class="abs captionText" style="top:120px; left: 400px; width: 100%;">
        <img id="loadingImg" class="abs" style="width:36px; height: 36px; top:80px; left: 500px; display: none;" src="./img/loading.gif" />
        <table id="resTable" style="width:1300px; border: 1px solid gray;">
            <tr>
                <th>id</th>
                <th style="width:120px;">uid</th>
                <th>date-time</th>
                <th>selfie</th>
                <th style="width:120px;">image dimentions</th>
                <th style="width:500px;">results</th>
            </tr>
        </table>
    </div>

    <script>

        document.getElementById ("loadingImg").style.display = "";

        fetch('/show_db', {
            method: 'GET'
        })
        .then(response => response.text())
        .then(result => {
            renderTable (result);
        })
        .catch(error => {
            document.getElementById ("loadingImg").style.display = "none";
            console.error(error);
        });

        const renderTable = res => {

            document.getElementById ("loadingImg").style.display = "none";
            const table = document.getElementById ("resTable");
            let trs = "";

            const rows = Array.from (JSON.parse(res).rows);

            rows.forEach (row => {
                trs += `
                    <tr>
                        <td>${row.id}</td>
                        <td>${row.uid}</td>
                        <td style="width:200px;">${row.dt}</td>
                        <td><a href="javascript:void(0);" onclick='showPic("${row.uid}", this.parentElement, ${row.results}, ${row.selfiesdim})'>show picture</a></td>
                        <td style="width:150px;">${row.selfiesdim}</td>
                        <td style="display:block; overflow:hidden; width:500px; height:40px; text-align:left;">${row.results}</td>
                    </tr>
                `;
            })

            table.innerHTML += trs;
        }

        const showPic = (uid, container, res, dim) => {

            const widthFactor = dim.width / 512;
            const heightFactor = dim.height / 384;

            // show loading sign:
            const loading = document.getElementById ("loadingImg");
            loading.style.display = "";
            loading.style.left = (container.getBoundingClientRect().left - 285) + "px";
            loading.style.top = (container.getBoundingClientRect().top - 110) + "px";

            // fetch data:
            fetch(`/show_pic?uid=${uid}`, {
                method: 'GET'
            })
            .then(response => response.text())
            .then(result => {
                console.log(result);
                const selfieImg = document.getElementById ("selfieImg");
                const picDiv = document.getElementById ("picDiv");
                selfieImg.src = `./tmp/${result}`;

                picDiv.style.left = container.getBoundingClientRect().left + "px";
                picDiv.style.top = (container.getBoundingClientRect().top + 40) + "px";
                picDiv.style.display = "";

                const resJson = res;
                const resCanvas = document.getElementById("resCanvas");
                const ctx = resCanvas.getContext("2d");

                ctx.clearRect(0, 0, resCanvas.width, resCanvas.height);

                resCanvas.style.left = selfieImg.style.left;
                resCanvas.style.top = selfieImg.style.top;

                resCanvas.style.display = "";
                document.getElementById ("toggleMarksBtn").innerText = "Hide Marks";

                Array.from (resJson.result.brown_spot.rectangle).forEach(element => {
                    
                    ctx.beginPath();
                    ctx.ellipse(element.left / widthFactor, 
                                element.top / heightFactor, 
                                element.width / widthFactor, 
                                element.height / heightFactor, 
                                0, 
                                2 * Math.PI, 
                                false);
                    ctx.fillStyle = "green";
                    ctx.fill();
                    ctx.closePath();
                });

                // hide loading sign:
                loading.style.display = "none";
            })
            .catch(error => {
                console.error(error);

                // hide loading sign:
                loading.style.display = "none";
            });
        }

        const hidePic = () => {
            document.getElementById ("picDiv").style.display = "none";
        }

        const toggleMarks = button => {
            const resCanvas = document.getElementById("resCanvas");
            resCanvas.style.display = (resCanvas.style.display === "none") ? "" : "none";
            button.innerText = (resCanvas.style.display === "none") ? "Show Marks" : "Hide Marks";
        }

    </script>


</body>
</html>





